body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.search-controls
{
  overflow:hidden;
  padding-bottom:310px;
  position:relative;
  height:0;
}

.search-panel
{
  
  padding: 15px;
  padding-top: 5px;
  margin-bottom: 20px;
  background-color: white; 
}
.dropdown-toggle
{
  width: 100%;
}
.input-control
{
  height: 31px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.input-coll
{
  padding-top: 5px ;
}
.input-label
{
  margin: 0;
  font-weight: 700;
  color: gray;
  
}
.dropdown-menu
{
  max-height: 300px;
  overflow: auto;
}
.card-offer
{
  background-color: white !important;
  border: 0 !important;
  margin-bottom: 15px;
}
.card-body
{
  text-align: center;
  color: #555555;
  padding-top: 0  !important;
}
.card-dtl
{
  font-size: 12px;
}
.card-price
{
    color: orange;
    margin-top: -5px;
    margin-bottom: -5px;
}
.offer-details-header
{
  text-align: center;
  border-bottom: 0.5px solid lightgray; 
  color: gray;
  padding-bottom: 20px;
}
.offer-details-price
{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0;
  float: right;
}
.price
{
    color: orange;
}
.offer-book-item
{
 border-bottom: 0.5px solid lightgray; 

}
.offer-book-title
{
  color: gray;
  font-size: 14px;
}
.offer-book-value
{
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  color: gray;
  font-size: 14px;
}
.no-bottom-margin
{
 margin-bottom: 0 !important;
}
.offer-list-title
{

    margin-top: 40px;
 
    margin-bottom: 15px;
}
.card-img
{
  padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}